---
import Layout from "@/layouts/Layout.astro";
import data from "@data";

interface Objetivo {
  id: number;
  content: string;
}

interface Tablero {
  id: number;
  slug: string;
  title: string;
  image: string;
  objetivos: Objetivo[];
}

const allTableros =
  data.servicios.find((servicio) => servicio.slug === "tableros-de-mando")
    ?.tableros || [];
const tableros = allTableros.filter(
  (tablero): tablero is Tablero =>
    tablero.slug &&
    tablero.title &&
    tablero.image &&
    typeof tablero.title === "string" &&
    typeof tablero.image === "string"
);
---

<Layout title="Tableros de Mando" description="Tableros de mando de Innova SA">
  <section
    class="bg-white relative dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  >
    <div
      class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative"
    >
      <a
        href="#"
        class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-blue-700 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300 hover:bg-blue-200 dark:hover:bg-blue-800"
      >
        <span
          class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 me-3"
          >Bienvenido</span
        >
        <span class="text-sm font-medium">a Innovasa</span>
        <svg
          class="w-2.5 h-2.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"></path>
        </svg>
      </a>
      <h1
        class="mb-5 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        Tableros de Mando
      </h1>
      <nav class="flex justify-center flex-wrap" aria-label="Breadcrumb">
        <ol
          class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
        >
          <li class="inline-flex items-center">
            <a
              href="/"
              class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
            >
              <svg
                class="w-3 h-3 me-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
                ></path>
              </svg>
              Inicio
            </a>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg
                class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"></path>
              </svg>
              <span
                class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
              >
                Tableros de Mando
              </span>
            </div>
          </li>
        </ol>
      </nav>
    </div>
    <div
      class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0 z-0"
    >
    </div>
  </section>

  <div class="max-w-4xl mx-auto px-3 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        tableros.map((tablero) => (
          <article class="max-w-sm bg-white rounded-lg shadow-sm text-center p-5 flex flex-col justify-between transition-transform duration-300 hover:scale-105 hover:shadow-lg">
            <div class="aspect-[3/2] overflow-hidden">
              <img
                src={tablero.image}
                alt={tablero.title}
                class="rounded-t-lg text-center mx-auto"
                loading="lazy"
                transition:name={`tablero-${tablero.slug}`}
              />
            </div>
            <div class="p-3">
              <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                {tablero.title}
              </h3>
              <a
                href={`/servicios/tableros-de-mando/${tablero.slug}`}
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300  dark:hover:bg-gray-700 dark:focus:ring-blue-800"
              >
                <span class="text-xs">Ver objetivos</span>
                <svg
                  class="w-3 h-3 ml-1.5 transition-transform duration-300 group-hover:translate-x-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 8l4 4m0 0l-4 4m4-4H3"
                  />
                </svg>
              </a>
            </div>
          </article>
        ))
      }
    </div>

    <div class="text-center mt-8">
      <a
        href="/"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:hover:bg-gray-700 dark:focus:ring-blue-800"
      >
        <span class="mr-1">Volver a Inicio</span>
        <svg
          class="w-3 h-3"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
      </a>
    </div>
  </div>
</Layout>

<style>
  .group-hover\:scale-102:hover {
    transform: scale(1.02);
  }
</style>
