---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "../style/styles.css";
import data from "@data";
import bg from "@public/background.BPKAcmfN.svg";
import { ClientRouter } from "astro:transitions";


interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {data.basics.name}</title>
    <meta name="description" content={description} />
    <!-- En tu layout principal o head -->
    <script src="https://cdn.jsdelivr.net/npm/dialog-polyfill@0.5.6/dist/dialog-polyfill.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dialog-polyfill@0.5.6/dialog-polyfill.css" />
    <ClientRouter />
  </head>
  <body>
    <img src={bg.src} id="bg" alt="" />
	<Header />
    <main class="min-h-screen">
      <slot />
    </main>
	<Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
